[package]
name = "steamcmd-rs"
version.workspace = true
edition.workspace = true
license-file.workspace = true
authors.workspace = true

[dependencies]
futures = "0.3.31"
tempfile = "3.23.0"
tokio = { version = "1.48.0", features = ["process"] }
